@charset "UTF-8";
.parallax {
  /* The image used */
  background-image: url("blood.png");

  /* Set a specific height */
  min-height: 750px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		margin:auto;

}

.parallax2 {
  /* The image used */
  background-image: url("yip.png");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		margin:auto;

}

